<head>
	<link rel="stylesheet" type="text/css" 
	    href="../node_modules\bootstrap\dist\css\bootstrap.min.css"/>
	    <link rel="stylesheet" type="text/css" href="../css\mystyle.css"/>
	<title>Nouveau de produit</title>
</head>

<div class="container spacer">
	<div class="panel panel-default">
		<div class="panel-heading">Saisie d'un produit</div>
		<div class="panel-body">
			<form>
				<div class="form-group">
					<label>Désignation:</label>
					<input class="form-control" type="text" ng-model="produit.designation"/> 
				</div>
				<div class="from-group">
					<label>Prix:</label>
					<input class="form-control" type="text" ng-model="produit.prix"/>
				</div>
				<div class="form-group">
					<label>Quantité:</label>
					<input class="form-control" type="text" ng-model="produit.quantite"/>
				</div>
				<div class="form-group">
					<button class="btn btn-primary" ng-click="save()">Enregistrer</button>
				</div>
			</form>
		</div>
	</div>
</div>